*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*menu*/
nav{
    display: flex;
    justify-content: space-between;

    background-color: rgb(8, 0, 98);
    color: rgb(255, 255, 255);
    padding: 20px;
}

#logo{
    width: 65px;
    height: 46px;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav a{
    color: rgb(221, 222, 236);
    text-decoration: none;
    padding: 30px;
}

nav a:hover{
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

/*header*/

header{
    background-color: rgba(8, 0, 98, 0.6);
    color: white;
}
header div{
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
}

/*main*/

.section{
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    background-color: white;
    text-align: justify;
}
.section figure{
    width: 30%;
    padding: 20px;

}
.section figure img{
    border-radius: 50%;
    width: 100%;
}
.section div{
    margin-left: 10px;
    padding: 20px;
    width: 80%;
}

.section div h2{
    font-size: 40px;
    border-bottom: 3px solid rgb(8, 0, 98);
}

.section div p{
    font-size: 16px;
    padding-top: 15px;
    line-height: 1.5;
    text-align: justify;
}

.section_img{
    background-color: rgba(8, 0, 98, 0.6);
    margin-top: 40px;
    text-align: center;
}

.section_img h2{
font-size: 40px;
padding: 30px 0;
color: white;
}

.section_img figure{
    width: 60%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 40px;
    justify-content: space-between;
}

footer{
    background-color: rgb(8, 0, 98);
    color: rgb(255, 255, 255);
    padding: 25px;
}

footer div{
    width: 60%;
    margin: 0 auto;
    display:flex;
    justify-content: space-evenly;
}

